# To ignore pyvenv-related files
/bin
/include
/lib
/lib64
pyvenv.cfg

# to suppress uncommitted messages for specific venv
swe-env/

# to ignore environment variables and private keys
.env
credentials.json
token.json
__pycache__/
.tmp.json

# to ignore react node modules
node_modules/
pnpm-lock.yaml
